127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.28.20.79    puppet-client1.karen.jtl.co.ke
172.28.20.81    puppet-master.karen.jtl.co.ke puppet puppetserver
172.28.20.32 puppet-client2.karen.jtl.co.ke
172.28.20.82 puppet-client-03.karen.jtl.co.ke
172.28.20.83 puppet-ubuntu-client.karen.jtl.co.ke
172.28.20.61 web1.karen.jtl.co.ke
172.28.20.62 mail1.karen.jtl.co.ke
172.28.20.71 db1.karen.jtl.co.ke
172.28.20.35 mailtest.karen.jtl.co.ke
